<% name = current_user.present? ? current_user.email : ' '%>
<h3>Welcome to the shop <%= name %></h3>
<aside>
  <% if product.image.present? %>
      <p><%= image_tag product.image.variant(resize_to_limit: [285, 285]).processed  %></p>
    <% end %>
    <p class="h3">
        <% if show_link %>
          <%= link_to product.name, product %>
        <% else %>
          <%= product.name %>
        <% end %>
      </p>
    <p class="h5">Price: <%= product.price %></p>
     <% if single_page %>
        <p class="h6"><%= product.description %></p>
        <p class="h6">Quantity in stock:<%= product.quantity %></p>
      <% else %>
        <p>Click on the product name to view description and quantity in stock</p>
      <% end %>

       <% if cart.include?(product) %>
      <%= button_to cart_path(product), method: :delete do %>
        Remove From Cart
      <% end %>
    <% else %>
      <%= form_with  url: cart_index_path, method: :post do %>
      <%# this line below says id equals id of the product, hidden rails magic to add to cart %>
        <%= hidden_field_tag(:id, product.id) %>
        <%= button_tag 'Add to Cart' %>
      <% end %>
    <% end %>
</aside>

