

<aside>
  <% if product.image.present? %>
      <p><%= image_tag product.image.variant(resize_to_limit: [285, 285]).processed  %></p>
    <% end %>
    <p class="title">
        <% if show_link %>
          <%= link_to product.name, product %>
        <% else %>
          <%= product.name %>
        <% end %>
      </p>
    <p>Price: <%= product.price %></p>
     <% if single_page %>
        <p class="mb-5"><%= product.description %></p>
      <% else %>
        <p>Click on the product name to view description</p>
      <% end %>
</aside>

